.header__menu {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 90px 50px 96px;
}

.nav {
  display: flex;
  list-style-type: circle;
  padding: 0;
  margin: 0;
}

.header__logo {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 13px;
  list-style-type: none;
  font-size: 18px;
}

.header__links-list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-underline-position: under;
}

.header__links-list-item:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-radius: 50%;
}

.header__links-list-item_no-bullit:before {
  display: none;
}

.address {
  justify-self: end;
  max-width: 240px;
  width: 100%;
  font-style: inherit;
  font-size: 18px;
  text-underline-position: under;
  line-height: 1.4;
}

/* ГЛАВНАЯ КАРТИНКА*/

.cover {
  background-image: url(../images/cover.jpg);
  padding: 165px 50px 50px 50px;
  background-size: cover;
  height: 757px;
  width: 1100px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.cover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 100px;
  position: relative;
  z-index: 1;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1.5;
  text-align: center;
  margin-right: -0.3em;
}

.aligned-text_right {
  text-align: end;
  line-height: 1.2;
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  align-items: center;
  color: aliceblue;
  padding-top: 105px;
  gap: 107px;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 30px;
}

/* БЛОК С КАРТОЧКАМИ */

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 64px;
  margin-top: 180px;
}

.lots__card-list {
  padding-top: 27px;
  list-style: none;
  margin-left: 24px;
  display: flex;
  gap: 24px;
}

.lots__card-list-item {
  position: relative;
}

.lots__card-list-item:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  width: 334px;
  height: 596px;
  display: flex;
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  width: 334px;
  height: 596px;
  display: flex;
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  width: 334px;
  height: 596px;
  display: flex;
  background-size: cover;
  background-position: center;
}

.lot_text {
  padding: 48px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 64px;
  font-size: 20px;
  text-underline-position: under;
}

/* БЛОК С ЛОГО И ТЕКСТОМ */

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  padding: 155px 25px 180px 70px;
}

.about__logo {
  height: 240px;
  width: 240px;
  flex-shrink: 0;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 150px;
  height: 115px;
}

.column_text {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}

.about__title {
  margin-left: 72px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  margin-left: 70px;
  font-size: 20px;
  font-weight: 400;
}

/* ПОДВАЛ */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 80px;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-underline-position: under;
  line-height: 1.4;
  font-style: normal;
}

.footer__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  text-underline-position: under;
  list-style: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
}

.footer__social-list .social {
  width: 48px;
  height: 48px;
  margin-left: 48px;
}
