.header__menu {
  width: 100%;
  margin: 0 auto;
}


.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 95.19px;
}

 
.nav
{
  display: flex;
  list-style-type: circle;
  padding: 0;
  margin: 0;
}


.header__logo{
  display: flex;
  justify-self: center;
  align-self: center;
  width: 129.11px;
  height: 104.65px;
  margin: 0 auto; 
}


.header__links-list {
  display: flex;
  gap: 13px;
  list-style-type:none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400; 
  }
  

.header__links-list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-underline-position: under;
  }


.header__links-list-item:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid;
  border-radius: 50%;
  }


.header__links-list-item_no-bullit:before {
  display: none;  
  }

.address {
  display: block;
  font-style: inherit;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  margin-left: 196.56px; 
  text-underline-position: under;
  line-height: 1.4;
}



/* ГЛАВНАЯ КАРТИНКА*/

.cover {
  margin-top: 96px;
  background-image: url(/project/ono-tebe-nado-fd/images/cover.jpg);
  background-size: cover;
  height: 757px;
  width: 1100px;
  margin-bottom: 100px;
  position: relative;
  background-size: cover;
  background-position: center;
}


.cover:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);}


.aligned-text {
  padding-top: 165px;
  margin-left: 50px;
  font-family: Raleway;
  font-weight: 700; 
  line-height: 115px;
  letter-spacing: 31px;
  font-size: 100px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}


.aligned-text_center {
  margin-top: 20px;
  margin-left: 380.5px;
  font-family: Raleway;
  font-weight: 700; 
  line-height: 115px;
  font-size: 100px;
  letter-spacing: 31px;
  color: aliceblue;
  position: relative;
  z-index: 2;
}


.aligned-text_right{
  font-family: Raleway;
  margin-top: 20px;
  margin-left: 663px;
  font-size: 100px;
  font-weight: 700; 
  line-height: 115px;
  letter-spacing: 31px;
  color: aliceblue;
  position: relative;
  z-index: 2;
}


.cover__description {
  margin-left: 50px;
  display: flex;
  align-items: center;
  color: aliceblue;
  position: relative;
  margin-top: 106px;
  z-index: 2;
}

.cover__description-text{
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400; 
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}


.bet-button {
  margin-left: 107px;
  font-family: Raleway;
  font-weight: 500; 
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 12px 32px 11px 31px;
}


/* БЛОК С КАРТОЧКАМИ */

.lots__heading {
  font-family: Raleway;
  font-weight: 700; 
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 64px;
  margin-top: 180px;
}

.lots{
  margin-top: 27px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 850px;
  min-height: 100%;
  margin-bottom: 20px;
  gap: 24px;
  position: relative;
}


.lot {
  position: relative;
  overflow: hidden;
}


.lot:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);} 


.card_type_film  {
  background-image: url(/project/ono-tebe-nado-fd/images/card-lot-01.jpg);
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
}


.card_type_book {   
  background-image: url(/project/ono-tebe-nado-fd/images/card-lot-02.jpg);
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
}


.card_type_picture {   
  background-image: url(/project/ono-tebe-nado-fd/images/card-lot-03.jpg);
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
}

.card_text_glov{
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700; 
  text-transform: uppercase;
  color:#FFFFFF;
  position: relative;
  z-index: 2;
}


.lot_text{
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
}


.card_text_one{
  margin-left: 40px;
  margin-top: 274px;
  margin-right: 40px ;
  margin-bottom: 48px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400; 
  color:#FFFFFF;
  position: relative;
  z-index: 2;
}


.card_text_second{
  margin: 30px 40px 48px 40px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400; 
  color:#FFFFFF;
  position: relative;
  z-index: 2;
  margin-bottom: 48px;
}


.card_text_thri{
  margin: 126px 40px 48px 40px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400; 
  color:#FFFFFF;
  position: relative;
  z-index: 2;
  margin-bottom: 48px;
}


.more {
  margin-top: 30px;
  margin-left: 64px;
  font-family: Raleway;
  font-size: 20px;
  text-underline-position: under;
}

/* БЛОК С ЛОГО И ТЕКСТОМ */

.about {
  margin-top: 100px;
  display: flex;
  
  flex-wrap: nowrap;
  width: 100%;

}

.about__logo {
  margin-top: 155px;
  margin-left: 71px;
  height: 250px;
  width: 250px;
  flex-shrink: 0;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about__logo-image {
  width: 148px;
  height: 114px;
}


.about__title{
  margin-top: 256px;
  margin-left: 72px;
  display: inline-block;
  font-size: 50px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700; 
  text-transform: uppercase;
}

.block_one{
  margin-top: 100px;
  margin-left: 72px;
  margin-right: 24px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400; 
}


.block_two {
  margin-top: 24px;
  margin-left: 72px;
  margin-right: 18px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400; 
}

.colum_text {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: column;
}


  /* ПОДВАЛ */

.footer {
  margin-top: 180px;
  display: flex;
}


.info{
  margin-left: 50px;
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400; 
  text-underline-position: under;
  line-height: 1.4;
}


.footer__menu{
  display: flex;
  margin-left: 154.03px;
  align-items: center;
  flex-direction: column;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400; 
  text-underline-position: under;
}


.footer__social-list {
  display: flex;
  margin-left: 177.5px;
  flex-direction: row;
  width: 48px;
  height: 48px;
  gap: 48px;
}